In [9]:
from datasets import load_dataset

dataset = load_dataset("math_qa")
import pandas as pd

In [7]:
dataset

DatasetDict({
    train: Dataset({
        features: ['Problem', 'Rationale', 'options', 'correct', 'annotated_formula', 'linear_formula', 'category'],
        num_rows: 29837
    })
    test: Dataset({
        features: ['Problem', 'Rationale', 'options', 'correct', 'annotated_formula', 'linear_formula', 'category'],
        num_rows: 2985
    })
    validation: Dataset({
        features: ['Problem', 'Rationale', 'options', 'correct', 'annotated_formula', 'linear_formula', 'category'],
        num_rows: 4475
    })
})

In [12]:
# Convert each split to a DataFrame
train_df = pd.DataFrame(dataset['train'])
test_df = pd.DataFrame(dataset['test'])
val_df = pd.DataFrame(dataset['validation'])

In [13]:
train_df

,Problem,Rationale,options,correct,annotated_formula,linear_formula,category
0,the banker ' s gain of a certain sum due 3 yea...,"""explanation : t = 3 years r = 10 % td = ( bg ...","a ) rs . 400 , b ) rs . 300 , c ) rs . 500 , d...",a,"divide(multiply(const_100, divide(multiply(36,...","multiply(n2,const_100)|multiply(n0,n1)|divide(...",gain
1,average age of students of an adult school is ...,"""explanation : let the original no . of studen...","a ) 1200 , b ) 120 , c ) 360 , d ) 240 , e ) n...",d,"multiply(divide(subtract(multiply(add(32, 4), ...","add(n2,n3)|multiply(n1,n2)|multiply(n1,#0)|sub...",general
2,sophia finished 2 / 3 of a book . she calculat...,let xx be the total number of pages in the boo...,"a ) 229 , b ) 270 , c ) 877 , d ) 266 , e ) 281",b,"divide(90, subtract(const_1, divide(2, 3)))","divide(n0,n1)|subtract(const_1,#0)|divide(n2,#1)",general
3,120 is what percent of 50 ?,"""50 * x = 120 - - > x = 2.4 - - > 2.4 expresse...","a ) 5 % , b ) 240 % , c ) 50 % , d ) 2 % , e )...",b,"multiply(divide(120, 50), const_100)","divide(n0,n1)|multiply(#0,const_100)|",gain
4,there are 10 girls and 20 boys in a classroom ...,"if girls is 10 and boys is 20 , then 10 / 20 ....","a ) 1 / 2 , b ) 1 / 3 , c ) 1 / 5 , d ) 10 / 3...",a,"divide(10, 20)","divide(n0,n1)",other
...,...,...,...,...,...,...,...
29832,a man invests some money partly in 10 % stock ...,"""solution for an income of rs . 1 in 10 % stoc...","a ) 1 : 2 , b ) 3 : 5 , c ) 4 : 5 , d ) 16 : 1...",a,"divide(multiply(90, const_2), multiply(90, con...","multiply(n1,const_2)|multiply(n3,const_3)|divi...",other
29833,"average of 10 matches is 32 , how many runs on...","""explanation : average after 11 innings should...","a ) a ) 70 , b ) b ) 76 , c ) c ) 78 , d ) d )...",d,"subtract(multiply(add(32, 6), add(10, const_1)...","add(n1,n2)|add(n0,const_1)|multiply(n0,n1)|mul...",general
29834,solve below question 2 x + 1 = - 23,1 . subtract 1 from both sides : 2 x + 1 - 1 =...,"a ) - 8 , b ) - 9 , c ) - 12 , d ) - 4 , e ) 12",c,"divide(negate(add(23, 1)), 2)","add(n1,n2)|negate(#0)|divide(#1,n0)",general
29835,calculate 85184 ÷ ? = 352,"""answer let 85184 ÷ x = 242 then x = 85184 / 2...","a ) 241 , b ) 242 , c ) 244 , d ) 247 , e ) 240",b,"multiply(85184, 352)","multiply(n0,n1)|",general
29836,7.51 8.22 7.86 8.36 8.09 7.83 8.30 8.01 7.73 8...,mean = 8.1 standard deviation = 0.4 within 1.5...,"a ) four , b ) six , c ) nine , d ) ten , e ) ...",e,"add(8.1, subtract(8.1, multiply(1.5, 0.4)))","multiply(n17,n19)|subtract(n16,#0)|add(n16,#1)",general

In [21]:
subset = train_df.iloc[:100]
subset

,Problem,Rationale,options,correct,annotated_formula,linear_formula,category
0,the banker ' s gain of a certain sum due 3 yea...,"""explanation : t = 3 years r = 10 % td = ( bg ...","a ) rs . 400 , b ) rs . 300 , c ) rs . 500 , d...",a,"divide(multiply(const_100, divide(multiply(36,...","multiply(n2,const_100)|multiply(n0,n1)|divide(...",gain
1,average age of students of an adult school is ...,"""explanation : let the original no . of studen...","a ) 1200 , b ) 120 , c ) 360 , d ) 240 , e ) n...",d,"multiply(divide(subtract(multiply(add(32, 4), ...","add(n2,n3)|multiply(n1,n2)|multiply(n1,#0)|sub...",general
2,sophia finished 2 / 3 of a book . she calculat...,let xx be the total number of pages in the boo...,"a ) 229 , b ) 270 , c ) 877 , d ) 266 , e ) 281",b,"divide(90, subtract(const_1, divide(2, 3)))","divide(n0,n1)|subtract(const_1,#0)|divide(n2,#1)",general
3,120 is what percent of 50 ?,"""50 * x = 120 - - > x = 2.4 - - > 2.4 expresse...","a ) 5 % , b ) 240 % , c ) 50 % , d ) 2 % , e )...",b,"multiply(divide(120, 50), const_100)","divide(n0,n1)|multiply(#0,const_100)|",gain
4,there are 10 girls and 20 boys in a classroom ...,"if girls is 10 and boys is 20 , then 10 / 20 ....","a ) 1 / 2 , b ) 1 / 3 , c ) 1 / 5 , d ) 10 / 3...",a,"divide(10, 20)","divide(n0,n1)",other
...,...,...,...,...,...,...,...
95,four equal circles are described about the fou...,the shaded area gives the required region . ar...,"['a ) 24 cm 2', 'b ) 42 cm 2', 'c ) 154 cm 2',...",b,"subtract(square_area(14), circle_area(divide(1...","divide(n0,const_2)|square_area(n0)|circle_area...",geometry
96,"in the coordinate plane , line a has a slope o...","""the equation of line a is y = - x + 1 the equ...","a ) 0 , b ) 1 , c ) 2 , d ) 3 , e ) 4",b,"divide(subtract(subtract(4, 4), 1), 1)","subtract(n3,n2)|subtract(#0,n0)|divide(#1,n1)|",general
97,if the annual increase in the population of a ...,"""the required population is = 10000 ( 1 + 10 /...","a ) 12100 , b ) 15240 , c ) 12456 , d ) 11452 ...",a,"multiply(multiply(divide(add(10, const_100), c...","add(n0,const_100)|divide(#0,const_100)|multipl...",gain
98,the sum of two consecutive integers is 41 . fi...,"""n + ( n + 1 ) = 41 2 n + 1 = 41 2 n = 40 n = ...","a ) 17 , 18 , b ) 7 , 8 , c ) 5 , 6 , d ) 20,2...",d,add(add(power(add(add(divide(subtract(subtract...,"subtract(n0,const_10)|subtract(#0,const_2)|div...",physics
99,calculate the circumference of a circular fiel...,"""circumference c is given by c = 2 π r = 2 π *...","a ) 20 π cm , b ) 19 π cm , c ) 28 π cm , d ) ...",a,circumface(10),circumface(n0)|,physics

In [23]:
subset.iloc[0]

Problem              the banker ' s gain of a certain sum due 3 yea...
Rationale            "explanation : t = 3 years r = 10 % td = ( bg ...
options              a ) rs . 400 , b ) rs . 300 , c ) rs . 500 , d...
correct                                                              a
annotated_formula    divide(multiply(const_100, divide(multiply(36,...
linear_formula       multiply(n2,const_100)|multiply(n0,n1)|divide(...
category                                                          gain
Name: 0, dtype: object

In [25]:
question = subset.iloc[0]["Problem"]
question

"the banker ' s gain of a certain sum due 3 years hence at 10 % per annum is rs . 36 . what is the present worth ?"

In [14]:
val_df

,Problem,Rationale,options,correct,annotated_formula,linear_formula,category
0,a multiple choice test consists of 4 questions...,"""5 choices for each of the 4 questions , thus ...","a ) 24 , b ) 120 , c ) 625 , d ) 720 , e ) 1024",c,"power(5, 4)","power(n1,n0)|",general
1,a 3 - digit positive integer is chosen at rand...,p ( three odd digits ) = 5 / 9 * 5 / 10 * 5 / ...,"a ) 1 / 2 , b ) 31 / 36 , c ) 49 / 54 , d ) 7 ...",b,"subtract(const_1, power(divide(const_1, const_...","divide(const_1,const_2)|power(#0,n0)|subtract(...",general
2,if x and y are positive integers and 7 + x + y...,"""try each answer choices . for a : 7 + 3 + xy ...","a ) 3 , b ) 5 , c ) 6 , d ) 8 , e ) 9",c,"add(21, const_1)","add(n1,const_1)|",general
3,the hcf and lcm of two numbers m and n are res...,"answer we have , m x n = 6 x 210 = 1260 ∴ 1 / ...","a ) 1 / 35 , b ) 3 / 35 , c ) 5 / 37 , d ) 2 /...",d,"divide(72, multiply(6, 210))","multiply(n0,n1)|divide(n2,#0)",general
4,"in a kilometer race , a beats b by 48 meters o...","""time taken by b run 1000 meters = ( 1000 * 12...","a ) 238 sec , b ) 190 sec , c ) 667 sec , d ) ...",a,"subtract(divide(multiply(const_1, const_1000),...","divide(n0,n1)|multiply(const_1,const_1000)|div...",physics
...,...,...,...,...,...,...,...
4470,how many figures are required for numbering th...,"""explanation : 1 to 9 = 9 * 1 = 9 10 to 99 = 9...","a ) 2726 , b ) 2878 , c ) 2893 , d ) 2765 , e ...",c,"add(add(subtract(divide(divide(1000, const_10)...","divide(n0,const_10)|subtract(n0,const_1)|divid...",general
4471,if the length of the longest chord of a certai...,longest chord of a circle is the diameter of t...,"['a ) 2.5', 'b ) 5', 'c ) 10', 'd ) 15', 'e ) ...",b,"divide(10, const_2)","divide(n0,const_2)",geometry
4472,in how many ways 2 boys and 2 girls can be sea...,"""number of ways = 2 * 2 ! * 2 ! = 8 answer is b""","a ) 7 , b ) 8 , c ) 9 , d ) 10 , e ) 11",b,"multiply(factorial(2), factorial(2))","factorial(n0)|factorial(n1)|multiply(#0,#1)|",probability
4473,"for what value of x , is | x – 3 | + | x + 1 |...","""for what value of x , is | x – 3 | + | x + 1 ...","a ) 0 , b ) 3 , c ) - 3 , d ) 4 , e ) - 2",e,negate(3),negate(n0)|,general
4474,the ratio of number of boys and girls in a sch...,"""let the number of boys and girls be 3 x and 2...","a ) 25 , b ) 30 , c ) 35 , d ) 40 , e ) 50",d,"multiply(divide(100, const_3), 2)","divide(n2,const_3)|multiply(n1,#0)|",other

In [15]:
test_df

,Problem,Rationale,options,correct,annotated_formula,linear_formula,category
0,a shopkeeper sold an article offering a discou...,"""giving no discount to customer implies sellin...","a ) 38 , b ) 27.675 , c ) 30 , d ) data inadeq...",a,"subtract(divide(multiply(add(const_100, 31.1),...","add(n1,const_100)|subtract(const_100,n0)|multi...",gain
1,what will be the difference between simple and...,"""s . i . = ( 1000 * 14 * 4 ) / 100 = rs . 560 ...","a ) 129 , b ) 130 , c ) 124 , d ) 133 , e ) 145",a,"subtract(subtract(multiply(1000, power(add(div...","divide(n0,const_100)|add(#0,const_1)|multiply(...",gain
2,there are 28 stations between hyderabad and ba...,"""the total number of stations = 30 from 30 sta...","a ) 156 , b ) 167 , c ) 870 , d ) 352 , e ) 380",c,"multiply(add(28, const_1), add(add(28, const_1...","add(n0,const_1)|add(#0,const_1)|multiply(#0,#1)|",physics
3,the present population of a town is 3888 . pop...,"""p = 3888 r = 20 % required population of town...","a ) 2500 , b ) 2100 , c ) 3500 , d ) 3600 , e ...",e,"add(3888, divide(multiply(3888, 20), const_100))","multiply(n0,n1)|divide(#0,const_100)|add(n0,#1)|",gain
4,the triplicate ratio of 1 : 9 is ?,"""13 : 93 = 1 : 729 answer : e""","a ) 1 : 0 , b ) 1 : 8 , c ) 1 : 7 , d ) 1 : 2 ...",e,"divide(power(const_2.0, 9), power(const_3.0, 9))","power(const_2.0,n1)|power(const_3.0,n1)|divide...",other
...,...,...,...,...,...,...,...
2980,find the area of a parallelogram with base 20 ...,"""area of a parallelogram = base * height = 20 ...","a ) 100 cm 2 , b ) 250 cm 2 , c ) 800 cm 2 , d...",c,"multiply(20, 40)","multiply(n0,n1)|",geometry
2981,"in a garden , there are 10 rows and 14 columns...","""explanation : each row contains 14 plants . t...","a ) 20 m , b ) 22 m , c ) 24 m , d ) 26 m , e ...",e,"add(add(multiply(subtract(14, const_1), 2), di...","divide(n0,n2)|subtract(n1,const_1)|multiply(n2...",physics
2982,a can do a piece of work in 6 hours ; b and c ...,"""a ' s 1 hour work = 1 / 6 ; ( b + c ) ' s 1 h...","a ) 8 hours , b ) 6 hours , c ) 14 hours , d )...",d,"divide(const_1, subtract(divide(const_1, 4), s...","divide(const_1,n1)|divide(const_1,n2)|divide(c...",physics
2983,a train 250 m long running at 72 kmph crosses ...,"""d = 72 * 5 / 18 = 30 = 600 â € “ 250 = 350 m ...","a ) 350 m , b ) 200 m , c ) 250 m , d ) 270 m ...",a,"subtract(multiply(30, multiply(72, const_0_277...","multiply(n1,const_0_2778)|multiply(n2,#0)|subt...",physics
2984,4 shepherds were watching over the flocks and ...,akar has = ram + rahul + john after evenly dis...,"a ) 2 , b ) 3 , c ) 4 , d ) 5 , e ) 6",b,"divide(subtract(multiply(11, const_2), add(4, ...","add(n0,n1)|add(n0,const_1)|multiply(n4,const_2...",general